body {
	margin: 0px;
	font-family: sans-serif;
	background-color: #fff;
	background-image: url('/img/twitter.png');
}

#frame {
	width: 600px;
  	height: 100%;
	margin: 40px auto;
	background-color: #fff;
	border: 4px solid #ccc;
}

.title {
	font-size: 20px;
  padding: 10px;
}

form {
  padding: 10px;
}

input {
  font-size: 14px;
}

.twitter {
  margin: 10px;
}
